/* Color Theme: Paperback */
:root {
  --color-emphasis-text: 25 23 22;
  --color-text: 232 235 228;
  --color-background: 170 170 170;
  --color-accent: 187 187 187;
  --color-accent-red: 66 12 20;
}
